<a href="https://colab.research.google.com/github/majorquev/Introduccion_a_ciencia_de_datos_R_v2/blob/main/Ayudant%C3%ADas/A1/A1_01_matrices_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ayudantía 1**

**Ayudante:** Rodrigo Morales Méndez<br>
**E-mail ayudante:** rumorale1@gmail.com

## **1 Introducción: Matrices**


En R, así como en otros lenguajes de programación, una matriz es básicamente un arreglo bi-dimensional, donde las entradas horizontales se entienden como filas y las verticales como columnas (i,j). Es posible imaginar una matriz como un arreglo de vectores como columnas (o filas) del mismo largo.

 * ¿Qué se guarda en una matriz?<br>
    Sólo datos de un mismo tipo. 
     
 * ¿Cómo se declara una matriz?<br>
    Se puede definir de varias maneras, indicando los elementos que la componen, o combinando vectores como filas o columnas.
 
 * ¿Cómo se accede a sus elementos?<br>
    Indicando la posición del vector fila, seguido de la posición del vector columna (como es usual).

In [8]:
# 1 Matrices ------------
# ?matrix 
# Creamos un matriz de dos filas y 3 columnas, parametros ncol, nrow y byrow
# recibe un vector de elementos

M1 <- matrix(1:10, nrow = 2, ncol = 5, byrow = T)
#M1

M2 <- matrix(c(1:9, "a"), nrow = 2, ncol = 5, byrow = T)
#M2


M3 <- matrix(1:4, nrow = 1, ncol = 4, byrow = T)
#M3

# 2da forma de crear una matriz
M4 <- diag(1:4, nrow = 4, ncol = 4)
M4

     [,1] [,2] [,3] [,4]
[1,] 1    0    0    0
[2,] 0    2    0    0
[3,] 0    0    3    0
[4,] 0    0    0    4

Podemos generar una matriz, combinando vectores como filas o columnas. Para ello podemos contar con las funciones rbind() y cbind()

In [12]:
# rbind
# cbind

v1 <- seq(2,20, 2)
v2 <- seq(1,20, 2)

M5 <- rbind(v1, v2)
M5

M6 <- cbind(v1, v2)
M6

   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
v1 2    4    6    8    10   12   14   16   18   20
v2 1    3    5    7     9   11   13   15   17   19

      v1 v2
 [1,]  2  1
 [2,]  4  3
 [3,]  6  5
 [4,]  8  7
 [5,] 10  9
 [6,] 12 11
 [7,] 14 13
 [8,] 16 15
 [9,] 18 17
[10,] 20 19

[1] 2 4 6

## **1.2 Acceso a los elementos de una matriz**
En general contamos con opciones de acceso similares a las de un vector, a saber:
* Acceso por posición (fila "i", columna "j")
* Acceso por nombre (de fila o columna)
* Acceso mediante matriz de indicatrices lógicas

### **Acceso por posición**
Accedemos mediante `[]`, indicando el número de fila y de columna del dato al que buscamos acceder. Por ejemplo, `M[2,3]` retorna el elemento en posición (2,3), que en nuestro caso es 1.

In [39]:

M6<- matrix(1:9, 3, 3)

rownames(M6) <- c("r1", "r2", "r3")

colnames(M6) <- c("c1", "c2", "c3")

M6

#M6["r2", "c2"]

#M6["r2", ]

#M6[-1, -3 ]

M_L<-diag(T, 3, 3)
M_L[1,2] = T
#M6[M_L]

length(v1)
dim(M6)
M6[M_L]

   c1 c2 c3
r1 1  4  7
r2 2  5  8
r3 3  6  9

[1] 10

[1] 3 3

[1] 1 4 5 9

También podemos rescatar una fila o columna completa, indicando el número de esta en la posición correspondiente. Por ejemplo, `M[2,]` retorna la segunda fila, mientras que `M[,1]` retorna la primera columna.

### **Acceso por nombre**
Podemos rescatar una fila o columna mediante su nombre. Para ello considermos la misma matriz M con nombres en las filas y columnas.

In [ ]:
# los nombres de las columnas los podemos modificar con la función colnames()
colnames(M) <- c("c1","c2","c3","c4")
M

Ahora podemos acceder, por ejemplo, a la fila "f3" y a la columna "c2", o al elemento en dicha posición.

In [ ]:
# Fila f3

In [ ]:
# Columna c2

In [ ]:
# Elemento de la fila 3 y columna 2



---
# **Taller 1**

 Para lanzar un nuevo producto al mercado, se le 5 ofrecieron productos distintos a 200 personas. Cada persona indicó si hubiera comprado el producto (1), o no (0).
La siguiente matriz contiene las preferencias de los 200 clientes para cada uno de los 5 productos.

**NOTA:** Para cargar el archivo "preferencias.rds", deben realizarlo a través de la opción "subir l almacenamiento de sesión" disponible en la pestaña "Archivos" del panel lateral izquierdo.

![image.png]()

In [52]:
# RDS es un formato nativo de R
preferencias <- readRDS("preferencias.rds")

#head(preferencias)

#tail(preferencias)



dim(preferencias)
dim(preferencias2)

colnames(preferencias) <- c("pr1", "pr2", "pr3", "pr4", "pr5")
colnames(preferencias)

[1] 200   5

[1] 6 5

[1] "pr1" "pr2" "pr3" "pr4" "pr5"

**P1.1** ¿Por cuáles productos tuvo preferencia el encuestado cuya posición es la 121 en la matriz de preferencias?

In [57]:
preferencias[121, c("pr1", "pr2", "pr3", "pr4", "pr5")]
preferencias[121, ]

M1
rowSums(M1)
colSums(M1)

rowMeans(M1)

pr1 pr2 pr3 pr4 pr5
  0   1   1   1   1

pr1 pr2 pr3 pr4 pr5
  0   1   1   1   1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4     5
[2,] 6    7    8    9    10

[1] 15 40

[1]  7  9 11 13 15

In [58]:
preferencias[121, c("pr1", "pr2", "pr3", "pr4", "pr5")]
preferencias[121, ]

M1

rowSums(M1)
colSums(M1)

rowMeans(M1)
colMeans(M1)

pr1 pr2 pr3 pr4 pr5
  0   1   1   1   1

pr1 pr2 pr3 pr4 pr5
  0   1   1   1   1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4     5
[2,] 6    7    8    9    10

[1] 15 40

[1]  7  9 11 13 15

[1] 3 8

[1] 3.5 4.5 5.5 6.5 7.5

|
**P1.2** Genere un vector con el total de preferencias por cada encuestado y añádalo a la matriz de preferencias. (Puede utilizar algunas de las funciones rowSums o colSums si lo desea).

In [67]:
total_preferencias <- rowSums(preferencias)
# matrix
total_preferencias_matriz <- matrix(total_preferencias, ncol = 1)
#total_preferencias_matriz#

#cbind(preferencias, total_preferencias_matriz )
preferencias_con_total <- cbind(preferencias, total_preferencias )


**P1.3** ¿Cuántos productos en promedio prefirieron los encuestados ?

In [70]:
mean(preferencias_con_total[, "total_preferencias"])

median(preferencias_con_total[, "total_preferencias"])

table(preferencias_con_total[, "total_preferencias"])

[1] 2.385

[1] 2

 0  1  2  3  4  5
 4 30 77 67 18  4


**P1.4** En la matriz de preferencias, ¿cuál es la posición  del encuestado que tuvo una mayor cantidad de preferencias?

In [71]:
which.max(preferencias_con_total[, "total_preferencias"])

[1] 24


**P1.5** Cree un nuevo vector llamado "cliente_variado", que contenga un 1 si su cantidad de preferncias fue mayor a 3 y 0 en otro caso.

In [75]:

cliente_variado <- as.numeric(preferencias_con_total[, "total_preferencias"] > 3)

cliente_variado

  [1] 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 [38] 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0
 [75] 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0
[112] 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
[149] 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0
[186] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0


**P1.6** ¿Cuántos *cliente variados* fueron encuestados en total?

In [76]:
sum(cliente_variado)

[1] 22


**P1.7**  ¿Cuál es el producto con mayor cantidad de preferencias?

In [87]:
aux <- colSums(preferencias)

aux

which.max(aux)

aux[  which.max(aux) ]

paste("El producto", which.max(aux), "es el mas preferido, con", aux[  which.max(aux) ], "preferencias", sep = " ")

pr1 pr2 pr3 pr4 pr5
 55  92 139 157  34

pr4
  4

pr4
157

[1] "El producto 4 es el mas preferido, con 157 preferencias"

El producto 4 es el más preferido, preferido por 157 personas y el producto menos preferido fue el 5, con 34 personas.