<a href="https://colab.research.google.com/github/majorquev/Introduccion_a_ciencia_de_datos_R_v2/blob/main/Clases/Clase1/Clase_1_02_vectores_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales Méndez<br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [128]:
# Declaración de dos vectores
 v1 <- c(1,1,2,3,5,8,13)

 v2 <- c(1,1,2,3,5,8,13)

 v3 <- c(1,1,2,3,5,8,13)

 v4 <- c(v1, v2, v3)

v5  <-rep(v1, 3)

v5  <-rep(c(1, "a"), 300)

#rep(x = c(1,2,3), times = 3)

#rep(times = 3, x = c(1,2,3))

#rep(times = 3, x = c(1,2,3))

# Numeros

#0.01 0.02 0.03 0.04 0.05
from <- 0.02
to <- 0.05
by <- 0.01
#seq(from, to, by)


# Fechas
from <- as.Date("2021-01-01")
to <- as.Date("2021-12-31")
by <- "1 week"
fechas <- seq(from, to, by)


fechas[3]

fechas[c(1,5,10)]

fechas[1:10]

[1] "2021-01-15"

[1] "2021-01-01" "2021-01-29" "2021-03-05"

 [1] "2021-01-01" "2021-01-08" "2021-01-15" "2021-01-22" "2021-01-29"
 [6] "2021-02-05" "2021-02-12" "2021-02-19" "2021-02-26" "2021-03-05"

In [ ]:
v1

[1]  1  1  2  3  5  8 13

In [ ]:
# clase y tipo de dato
class(v1)
typeof(v1)

[1] "numeric"

[1] "double"

In [ ]:
# Largo de un vector
length(v1)
length(vp)

[1] 7

[1] 3

In [ ]:
# vectores lógicos
vl <- c(TRUE, T, F, F,T)
vl

[1]  TRUE  TRUE FALSE FALSE  TRUE

In [ ]:
# vector con strings
vp <- c("hola", "soy", "miguel")
vp

[1] "hola"   "soy"    "miguel"

In [ ]:
# Nombres de las entradas de un vector
v1
names(v1)

[1]  1  1  2  3  5  8 13

NULL

In [ ]:
# podemos asignar los nombres a vector 1
names(v1) <- c("e1","e2","e3","e4","e5","e6","e7")

In [ ]:
v1

e1 e2 e3 e4 e5 e6 e7
 1  1  2  3  5  8 13

In [ ]:
# nombres de las entradas con la función, names()
names(v1)

[1] "e1" "e2" "e3" "e4" "e5" "e6" "e7"

In [ ]:
#combinar vectores

In [ ]:
v2 <- c(100,200)
# c : es una abreviación de "combine"
c(v1,v2)

 e1  e2  e3  e4  e5  e6  e7
  1   1   2   3   5   8  13 100 200

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [ ]:
# Mediante posición
vp
vp[2] # Rescatamos el elemento de posición 2

[1] "hola"   "soy"    "miguel"

[1] "soy"

In [ ]:
# retorna los elementos de las casillas 1  y 3 de vp
vp[c(1,3)]

[1] "hola"   "miguel"

[1] "hola"   "miguel"

In [ ]:
vp[2-3]# Opción no oficial

[1] "hola"   "miguel"

In [142]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el séptimo nombre de v1)

v_pares <- seq(from = 2, to = 40, by = 2  )

v_pares <- seq(from = 2,   by = 2, length.out = 20  )

#names(v_pares) <- c("n1", "n2", "n3", "n4")

# paste 

names(v_pares) <- paste("n", 1:20, sep = "")

v_pares

 n1  n2  n3  n4  n5  n6  n7  n8  n9 n10 n11 n12 n13 n14 n15 n16 n17 n18 n19 n20
  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40

In [ ]:
v1

           e1            e2            e3            e4            e5
            1             1             2             3             5
           e6 nuevo_nombre7
            8            99

In [149]:
# podemos modificar varias posiciones a la vez
# queremos re-asignar los valores 555 y 666 en las posiciones 3 y 7 respecivamente

v_pares[1:3] <- 1:3

v_pares[1:3] <- c(2, 4,  6)

In [ ]:
v1

           e1            e2            e3            e4            e5
            1             1           555             3             5
           e6 nuevo_nombre7
            8           666

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &, && |                  : conector y 
    |,||                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [151]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

# El elemtno 3 y 5 del vector v1

cond_logica_1 = v_pares > 10

v_pares[cond_logica_1]


cond_logica_2 = v_pares > 10 &  v_pares < 14

v_pares[cond_logica_2]

cond_logica_3 = v_pares < 10 | v_pares > 30

v_pares[cond_logica_3]

cond_logica_3 = !(v_pares < 10 | v_pares > 30)

v_pares[cond_logica_3]

 n6  n7  n8  n9 n10 n11 n12 n13 n14 n15 n16 n17 n18 n19 n20
 12  14  16  18  20  22  24  26  28  30  32  34  36  38  40

n6
12

 n1  n2  n3  n4 n16 n17 n18 n19 n20
  2   4   6   8  32  34  36  38  40

 n5  n6  n7  n8  n9 n10 n11 n12 n13 n14 n15
 10  12  14  16  18  20  22  24  26  28  30

In [ ]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado
v1
v1 > 10

           e1            e2            e3            e4            e5
            1             1           555             3             5
           e6 nuevo_nombre7
            8           666

           e1            e2            e3            e4            e5
        FALSE         FALSE          TRUE         FALSE         FALSE
           e6 nuevo_nombre7
        FALSE          TRUE

In [ ]:
v1[v1 > 10]

           e3 nuevo_nombre7
          555           666

In [ ]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla

In [181]:
#?which.max
#podemos rescatar el valor mediante el índice guardado
promedio_chile <- 1.68
desviacion_estatura <- 0.3




set.seed(2021)

estaturas_1 <- rnorm(mean = promedio_chile, sd = desviacion_estatura,  n = 200)

set.seed(NULL)

estaturas_2 <- rnorm(mean = promedio_chile, sd = desviacion_estatura,  n = 200)

which.max(estaturas_1)
which.max(estaturas_2)

which.min(estaturas_1)
which.min(estaturas_2)


which(estaturas_1 > 2)

[1] 169

[1] 22

[1] 108

[1] 68

 [1]  10  14  15  17  19  20  24  30  42  44  47  68  74 116 118 125 127 130 150
[20] 168 169 170 178 187 193

In [ ]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

In [ ]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().

In [ ]:
# aritmética con vectores
# operación de vectore de igual largo

In [184]:
#ponderaciones por escalares

v1 <- 1:100

v2 <- 1:20

v1 + v2

  [1]   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
 [19]  38  40  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52
 [37]  54  56  58  60  42  44  46  48  50  52  54  56  58  60  62  64  66  68
 [55]  70  72  74  76  78  80  62  64  66  68  70  72  74  76  78  80  82  84
 [73]  86  88  90  92  94  96  98 100  82  84  86  88  90  92  94  96  98 100
 [91] 102 104 106 108 110 112 114 116 118 120

In [ ]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [ ]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"

In [ ]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)

In [ ]:
# podemos controlar el largo del vector resultante con el parámetro length.out

In [ ]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)

In [ ]:
# ejemplo de vector aleatorio siguiendo una determinada distribución

# distribución uniforme
# distribución normal

### 3.2 Funciones (primera parte) 

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [ ]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas 
# Ejemplos básicos de funciones(vectorizadas)

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [ ]:
# substring substr()

In [ ]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub()
#?gsub

# si reemplazamos en un vector de palabras

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/