<a href="https://colab.research.google.com/github/majorquev/Introduccion_a_ciencia_de_datos_R_v2/blob/main/Clases/Clase1/Clase_1_01_variables_y_tipos_de_datos_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales Méndez <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.
 
Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log() 
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp() 
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [1]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
(4*5) + 4/5

[1] 20.8

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character 
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [2]:
# Podemos definir distintas variables
a <- 3.5

In [3]:
b <- 8

In [4]:
a+b

[1] 11.5

In [5]:
# strings(character)
p1 <- "hola"

In [6]:
p1

[1] "hola"

In [7]:
# valores lógicos (logical)
verdad <- TRUE
falso <- FALSE

In [8]:
# conector lógicos ( & es el "y", | es el "o" )
verdad & falso # "&" corresponde a la conjunción "y"
verdad | falso # "|" corresponde a la disyunción "o"

[1] FALSE

[1] TRUE

In [9]:
# Que pasa si aplicamos operaciones aritméticas entre tipos de datos NO compatibles

p1 + a

ERROR: ignored

In [10]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

1+1 == 2

[1] TRUE

In [13]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 2
3 != 2+1


#NOTA: Podemos asignar con la flechita en los dos sentidos
1+6 -> nueva
# es lo mismo que: nueva <- 1+6

[1] TRUE

[1] FALSE

In [17]:
# podemos realizar comparaciones aritméticas
 3 < 9
3 <= 3
3 > 8

[1] TRUE

[1] TRUE

[1] FALSE

In [24]:
# NOTA:valor infinito
# NOTA2: IMPORTANTE, R es "case sensitive", es decir R difernecia las instrucciones con mayúsculas y minúsculas.

100000000+Inf
Inf+Inf
4/Inf

[1] Inf

[1] Inf

[1] 0

In [26]:
# date
no_fecha <- "2021-08-25"
no_fecha

[1] "2021-08-25"

In [27]:
class(no_fecha)

[1] "character"

In [28]:
typeof(no_fecha)

[1] "character"

In [30]:
#Como convertir un string a clase Date.
# Esta opción considera la utilización de la función as.Date() del package base (no hay que instalar nada adicional)

fecha <- as.Date(no_fecha)
fecha

[1] "2021-08-25"

In [31]:
class(fecha)

[1] "Date"

In [34]:
typeof(fecha)

[1] "double"

In [32]:
no_fecha + 10 # por defecto suma días.

ERROR: ignored

In [33]:
fecha + 10

[1] "2021-09-04"

# Apéndice
## Instalación de paquetes en R

La instalación la pueden realizar con la función  `install.packages()`

In [35]:
install.packages("lubridate")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Carga de un paquete a la sesión
La carga de un paquete se puede realizar mediante la función `library()`. También , otra alternativa es `require()`.

In [36]:
library("lubridate")

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [ ]:
## Si se quiere explicitar el origen de una función

base::setdiff() # llamamos a setdiff de base
lubridate::setdiff() # llamamos a setdiff de lubridate

In [45]:
fecha
fecha %m+% months(1)

[1] "2021-08-25"

[1] "2021-09-25"

In [46]:
month(fecha) # month() es función de lubridate

[1] 8

In [48]:
day(fecha) # day() es función de lubridate

[1] 25

In [49]:
year(fecha) # year() es función de lubridate

[1] 2021

In [50]:
# Observación: Inmutabilidad de variables en R.

x <- 10
y <- x

In [51]:
x
y

[1] 10

[1] 10

In [52]:
x <- 11

In [54]:
# ¿Qué valor tiene y?
y
y <- x
y


# en R las asignaciones por defecto se realizan por valor y no por referencia.

[1] 10

[1] 11

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [55]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

 [1] "a"               "b"               "falso"           "fecha"
 [5] "fecha_de_lubrdt" "no_fecha"        "nueva"           "p1"
 [9] "verdad"          "x"               "y"

In [56]:
# remueva algunas de las variables generadas anteriormente
rm(fecha)

In [57]:
fecha

ERROR: ignored

In [59]:
# Podemos remover más de una variable
rm(list = c("p1","nueva","verdad"))

In [60]:
ls()

[1] "a"               "b"               "falso"           "fecha_de_lubrdt"
[5] "no_fecha"        "x"               "y"

In [61]:
# si quieren eliminar todas las variables del ambiemte global
rm(list = ls())

In [62]:
ls()

character(0)

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [64]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # Not Avaiblable
NaN # Not a Number

[1] NA

[1] NaN

In [65]:
30 == 30

[1] TRUE

In [66]:
NA == NA

[1] NA

In [67]:
4 == NA

[1] NA

In [69]:
# para identificar un valor NA o NaN podemos utilizar la función is.na

is.na(4)
is.na(NA)

[1] FALSE

[1] TRUE

In [71]:
is.nan(NA)
is.nan(NaN)

[1] FALSE

[1] TRUE

In [72]:
0/0

[1] NaN