<a href="https://colab.research.google.com/github/majorquev/Introduccion_a_ciencia_de_datos_R_v2/blob/main/Clases/Clase1/Clase_1_02_vectores_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales Méndez<br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [1]:
# Declaración de dos vectores
 v1 <- c(1,1,2,3,5,8,13)

In [2]:
v1

[1]  1  1  2  3  5  8 13

In [4]:
# clase y tipo de dato
class(v1)
typeof(v1)

[1] "numeric"

[1] "double"

In [38]:
# Largo de un vector
length(v1)
length(vp)

[1] 7

[1] 3

In [5]:
# vectores lógicos
vl <- c(TRUE, T, F, F,T)
vl

[1]  TRUE  TRUE FALSE FALSE  TRUE

In [7]:
# vector con strings
vp <- c("hola", "soy", "miguel")
vp

[1] "hola"   "soy"    "miguel"

In [10]:
# Nombres de las entradas de un vector
v1
names(v1)

[1]  1  1  2  3  5  8 13

NULL

In [11]:
# podemos asignar los nombres a vector 1
names(v1) <- c("e1","e2","e3","e4","e5","e6","e7")

In [12]:
v1

e1 e2 e3 e4 e5 e6 e7
 1  1  2  3  5  8 13

In [13]:
# nombres de las entradas con la función, names()
names(v1)

[1] "e1" "e2" "e3" "e4" "e5" "e6" "e7"

In [ ]:
#combinar vectores

In [14]:
v2 <- c(100,200)
# c : es una abreviación de "combine"
c(v1,v2)

 e1  e2  e3  e4  e5  e6  e7
  1   1   2   3   5   8  13 100 200

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [16]:
# Mediante posición
vp
vp[2] # Rescatamos el elemento de posición 2

[1] "hola"   "soy"    "miguel"

[1] "soy"

In [18]:
# retorna los elementos de las casillas 1  y 3 de vp
vp[c(1,3)]

[1] "hola"   "miguel"

[1] "hola"   "miguel"

In [23]:
vp[2-3]# Opción no oficial

[1] "hola"   "miguel"

In [25]:
#NOTA 3:5, R lo interpreta como c(3,4,5)

# Si queremos rescatar los elementos del 4 al 7 del vector v1
v1[4:7]

e4 e5 e6 e7
 3  5  8 13

In [28]:
# podemos acceder a los elmentos mediante el nombre
v1["e6"]
# queremos las celdas de nombres e1, e3 y e7

v1[c("e1","e3","e7")]

e6
 8

e1 e3 e7
 1  2 13

In [29]:
# cambiar una entrada de un vector o cambiar un nombre
# Ej1. Cambiar la entrada de posición 7 de v1, por un 99

v1[7] <- 99

In [30]:
v1

e1 e2 e3 e4 e5 e6 e7
 1  1  2  3  5  8 99

In [32]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el séptimo nombre de v1)
names(v1)[7] <- "nuevo_nombre7"

In [33]:
v1

           e1            e2            e3            e4            e5
            1             1             2             3             5
           e6 nuevo_nombre7
            8            99

In [35]:
# podemos modificar varias posiciones a la vez
# queremos re-asignar los valores 555 y 666 en las posiciones 3 y 7 respecivamente

v1[c(3,7)] <- c(555,666)

In [36]:
v1

           e1            e2            e3            e4            e5
            1             1           555             3             5
           e6 nuevo_nombre7
            8           666

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &, && |                  : conector y 
    |,||                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [39]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

# El elemtno 3 y 5 del vector v1

v1[c(F,F,T,F,T,F,F)]

 e3  e5
555   5

In [41]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado
v1
v1 > 10

           e1            e2            e3            e4            e5
            1             1           555             3             5
           e6 nuevo_nombre7
            8           666

           e1            e2            e3            e4            e5
        FALSE         FALSE          TRUE         FALSE         FALSE
           e6 nuevo_nombre7
        FALSE          TRUE

In [42]:
v1[v1 > 10]

           e3 nuevo_nombre7
          555           666

In [ ]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla

In [ ]:
#?which.max
#podemos rescatar el valor mediante el índice guardado

In [ ]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

In [ ]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().

In [ ]:
# aritmética con vectores
# operación de vectore de igual largo

In [ ]:
#ponderaciones por escalares

In [ ]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [ ]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"

In [ ]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)

In [ ]:
# podemos controlar el largo del vector resultante con el parámetro length.out

In [ ]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)

In [ ]:
# ejemplo de vector aleatorio siguiendo una determinada distribución

# distribución uniforme
# distribución normal

### 3.2 Funciones (primera parte) 

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [ ]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas 
# Ejemplos básicos de funciones(vectorizadas)

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [ ]:
# substring substr()

In [ ]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub()
#?gsub

# si reemplazamos en un vector de palabras

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/